.loadGame{
	display: flex;
	flex-direction: column;
	font-family: 'Akaya Telivigala', cursive;
}

.loadGame_header{
	padding: 10px;
	display: flex;
	font-size: 15px;
	justify-content: space-between;
	border: 3px solid rgba(3, 0, 0, 0.171);
	border-radius: 4px;
}

.loadGame_header div {
	width: 11%;
	text-align: center;
}